<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark" style="background-color: #B92340 !important;">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/"><img
        src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=64"
        height="50" style="margin: -20px; margin-left: 5px; margin-right: 5px"></b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item to="/log-manager">Logs</b-nav-item>
          <b-nav-item to="/extensions">Extensions</b-nav-item>
          <b-nav-item to="/config">Config</b-nav-item>
          <li v-for="navbaritem in navbaritems">
          <b-nav-item :to="'/ext/'+navbaritem">{{ navbaritem }}</b-nav-item>
          </li>
          <b-nav-item href="#" @click.prevent="login" v-if="!activeUser">Login</b-nav-item>
          <b-nav-item href="#" @click.prevent="logout" v-else>Logs</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- routes will be rendered here -->
    <router-view/>
  </div>
</template>


<script>
    export default {
        name: 'app',
        data() {
            return {
                navbaritems:[],
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        watch: {
            // call again the method if the route changes
            //'$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.loading = true;
                // replace `getPost` with your data fetching util / API wrapper
                this.axios.get('http://localhost:8081/uinavbar')
                    .then(function (response) {
                        if (response.data.success == true) {
                            this.navbaritems = response.data.data;
                        }

                    }.bind(this))
                    .catch(function (error) {
                    }.bind(this));
            }
        }

    }
</script>

<style>
  body {
    margin: 0;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }
</style>
