<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Dispute Extensions</h1>
    <div v-if="loading" class="loading">
      Fetching extensions...
    </div>
    <div v-if="done">
      Enabled extensions
      <li v-for="extension in extensions.enabled">
        {{ extension.meta.name }} by {{extension.meta.author}}, Version {{extension.meta.version}} <button>Disable</button><br>
      </li>
      Disabled extensions
      <li v-for="extension in extensions.disabled">
        {{ extension }} <b>FAILED</b> <button>Reload</button><br>
      </li>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                done: false,
                extensions: {},
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        watch: {
            // call again the method if the route changes
            //'$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.loading = true;
                // replace `getPost` with your data fetching util / API wrapper
                this.axios.get('http://localhost:8081/extensions')
                    .then(function (response) {
                        if (response.data.success == true) {
                            this.loading = false;
                            this.done = true;
                            this.extensions = response.data.data;
                        }

                    }.bind(this))
                    .catch(function (error) {
                        this.loading = false;
                    }.bind(this));
            }
        }
    }
</script>

<style scoped>

</style>
