<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">{{$route.params.navbaritem}}</h1>
    <div v-if="loading" class="loading">
      Loading UI. This might take a while...
    </div>
    <div v-if="failed">
      UI load failed! This is usually a problem with the registered extension.<br>Contact the extension developer for support.<br><br>Error: Extension did not provide UI information.
    </div>
    <div v-if="done">
      <span v-html="haatml"></span>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                failed: false,
                haatml: "",
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        watch: {
            // call again the method if the route changes
            //'$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.loading = true;
                // replace `getPost` with your data fetching util / API wrapper
                this.axios.get('http://localhost:8081/ext/ui/' + this.$route.params.navbaritem + '/index')
                    .then(function (response) {
                        if (response.data.success == true) {
                            this.loading = false;
                            this.done = true;
                            this.haatml = response.data.data;
                        }

                    }.bind(this))
                    .catch(function (error) {
                        this.failed = true;
                        this.loading = false;
                    }.bind(this));
            }
        }
    }
</script>

<style scoped>

</style>
