<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Dispute Log</h1>
    <div v-if="loading" class="loading">
      Fetching log...
    </div>
    <div v-if="done">
      <textarea style="width: 100%; height: 100%" rows="40" readonly>{{disputelog}}</textarea>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                done: false,
                disputelog: "",
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        watch: {
            // call again the method if the route changes
            //'$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.loading = true;
                // replace `getPost` with your data fetching util / API wrapper
                this.axios.get('http://localhost:8081/log')
                    .then(function (response) {
                        if (response.data.success == true) {
                            this.loading = false;
                            this.done = true;
                            this.disputelog = response.data.log;
                        }

                    }.bind(this))
                    .catch(function (error) {
                        this.loading = false;
                    }.bind(this));
            }
        }
    }
</script>

<style scoped>

</style>
