<template>
  <div class="setup">
    <div v-if="$route.params.step == 'loading'">
      <div class="container">
        <div class="row">
          <div class="col-sm1">
            <img
              src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=64"
              height="50" style="margin: -20px; margin-left: 5px; margin-right: 5px">
          </div>
          <div class="col-sm11">
            Setup
          </div>
        </div>
        <br>
      </div>
      <p>{{loadingMessage}}</p>
      <p>Please wait...</p>
    </div>
    <div v-if="$route.params.step == 1">
      <div style="margin-top: -20%">
        <img src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=1024"
             height="350" style="margin: -20px; margin-left: 5px; margin-right: 5px">
        <h1 class="display-3">Welcome to Dispute!</h1>
        <h2>This setup will guide you through the initial configuration of your very own Discord bot</h2>
        <p>Click the start button to begin</p>
        <br>
        <a href="#/setup/2" class="button" to="/setup/2">START</a>
      </div>
    </div>
    <div v-if="$route.params.step == 2">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm1">
              <img
                src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=64"
                height="50" style="margin: -20px; margin-left: 5px; margin-right: 5px">
            </div>
            <div class="col-sm11">
              Setup
            </div>
          </div>
        </div>
        <br>
        <h2>First things first</h2>
        <label>Client ID</label>
        <input v-model="clientid" type="number"/><br>
        <label>Client secret</label>
        <input v-model="clientsecret" type="number"/>
        <br>
        <label>Token</label>
        <input v-model="token" type="text"/>
        <br><br>
        <a href="#/setup/3" class="button" to="/setup/2">NEXT</a>
      </div>
    </div>
    <div v-if="$route.params.step == 3">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm1">
              <img
                src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=64"
                height="50" style="margin: -20px; margin-left: 5px; margin-right: 5px">
            </div>
            <div class="col-sm11">
              Setup
            </div>
          </div>
        </div>
        <h2>Add Hayward to your Discord server</h2>
        <br>
        <a class="button"
           :href="'https://discordapp.com/api/oauth2/authorize?client_id='+clientid+'&scope=bot&permissions=1'"
           target="_blank">Authorize Hayward</a>
        <br>
        <br>when done, click<br><br>
        <a href="#" v-on:click="getUserList" class="button" to="/setup/2">NEXT</a>
      </div>
    </div>
    <div v-if="$route.params.step == 4">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm1">
              <img
                src="https://cdn.discordapp.com/avatars/240220736462127115/4baa6da3ba6abbad3a7c3ccbf83b2b58.png?size=64"
                height="50" style="margin: -20px; margin-left: 5px; margin-right: 5px">
            </div>
            <div class="col-sm11">
              Setup
            </div>
          </div>
        </div>

        <h2>Select Hayward administrator(s)</h2>
        <br>
        <div v-if="userList == undefined">
        <p>Building user list...</p>
        <p>Please wait</p>
        </div><li v-for="userData in userList">
        {{ userData.username }}
      </li>

      </div>
    </div>
  </div>
</template>

<style>
  .setup {
    height: 100%;
    display: flex;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 100;
    background-color: #B92340;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .setup .button {
    padding: 10px 20px;
    background-color: deepskyblue;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.2rem;
  }

  .setup .button:hover {
    padding: 10px 20px;
    background-color: dodgerblue;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.2rem;
    text-decoration: none;
  }
</style>

<script>
    export default {
        name: 'setup',
        data() {
            return {
                loadingMessage: "Loading...",
                msg: 'Welcome to Your Vue.js PWA'
            }
        },
        methods: {
            getUserList: function () {
                let currentObj = this;
                this.loadingMessage = "Configuring Hayward..";
                window.location.href = '/#/setup/loading';

                const checkReady = function(){
                    currentObj.axios.get('http://localhost:8081/status')
                        .then(function (response) {
                            if (response.data.success == true) {
                                if(response.data.status == 0){
                                    currentObj.loadingMessage = "Building user list...";
                                    currentObj.axios.get('http://localhost:8081/userlist').then(function (response) {
                                        if(response.data.memberList.length == 0) {
                                            currentObj.loadingMessage = "Error: Hayward has not been added to any server!";
                                        }
                                        currentObj.userList = response.data.memberList;
                                        console.log(response.data);
                                        window.location.href = '/#/setup/4';
                                    });
                                } else {
                                    window.location.href = '/#/setup/2';
                                }

                            }

                        })
                        .catch(function (error) {
                            currentObj.loadingMessage = error;
                        });
                }.bind(this);

                const conf = function() {
                    currentObj.axios.post('http://localhost:8081/setup/keys', {token: currentObj.token})
                        .then(function (response) {
                            if (response.data.success == true) {
                                currentObj.loadingMessage = "Waiting for Discord connection...";
                                setTimeout(checkReady, 5000);
                            } else {
                                currentObj.loadingMessage = "Token missing";
                                window.location.href = '/#/setup/2';
                            }

                        })
                        .catch(function (error) {
                            currentObj.loadingMessage = error;
                        });
                }.bind(this);
                conf();




            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #35495E;
  }
</style>
